table {
  border-collapse: separate;
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
  border-spacing: 5px;
  padding: 2rem;
}

.profile-table__heading span {
  display: inline-block;
  border-bottom: 2px solid white;
}

.profile-table__heading {
  text-align: center;
}

.profile-table__heading span {
  padding-right: 0;
}

th {
  color: white;
  font-size: 1.8rem;
}
th,
td {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
tbody tr:nth-child(even) {
  background-color: rgba(173, 216, 230, 0.527);
}
tbody tr:nth-child(odd) {
  background-color: rgba(21, 226, 31, 0.555);
}

.profile-table {
  color: black;
}

@media (max-width: 480px) {
  table {
    width: 100%;
  }
  tr,
  td {
    display: block;
    border-bottom: white solid 0.5px;
  }
  th,
  thead {
    display: none;
  }
  td:nth-child(1)::before {
    content: "Kurskod: ";
  }
  td:nth-child(2)::before {
    content: "Kursnamn: ";
  }
  td:nth-child(3)::before {
    content: "Period: ";
  }
  td:nth-child(4)::before {
    content: "Roll: ";
  }
  td:nth-child(5)::before {
    content: "SY: ";
  }
  td:nth-child(6)::before {
    content: "IT: ";
  }
  td:nth-child(7)::before {
    content: "ID: ";
  }
  td:nth-child(8)::before {
    content: "GD: ";
  }
  tr:nth-child(11) td:nth-child(1)::before {
    content: "Kurskod: ";
  }
  tr:nth-child(11) td:nth-child(2)::before {
    content: "Kursnamn: Examensarbete";
  }
  tr:nth-child(11) td:nth-child(3)::before {
    content: "Period ";
  }
  tr:nth-child(11) td:nth-child(4)::before {
    content: "Roll: ";
  }
  tr:nth-child(11) td:nth-child(5)::before {
    content: "SY: ";
  }
  tr:nth-child(11) td:nth-child(6)::before {
    content: "IT: ";
  }
  tr:nth-child(11) td:nth-child(7)::before {
    content: "ID: ";
  }
  tr:nth-child(11) td:nth-child(8)::before {
    content: "GD: ";
  }
  tr:nth-child(12) td:nth-child(1)::before {
    content: "Kurskod: ";
  }
  tr:nth-child(12) td:nth-child(2)::before {
    content: "Kursnamn: Examensarbete";
  }
  tr:nth-child(12) td:nth-child(3)::before {
    content: "Period ";
  }
  tr:nth-child(12) td:nth-child(4)::before {
    content: "Roll: ";
  }
  tr:nth-child(12) td:nth-child(5)::before {
    content: "SY: ";
  }
  tr:nth-child(12) td:nth-child(6)::before {
    content: "IT: ";
  }
  tr:nth-child(12) td:nth-child(7)::before {
    content: "ID: ";
  }
  tr:nth-child(12) td:nth-child(8)::before {
    content: "GD: ";
  }
}
@media (min-width: 768px) {
  table,
  .segment__heading--right {
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
  }

  th,
  h2 {
    color: black;
  }

  .profile-table {
    background-color: rgba(240, 231, 101, 0.336);
  }

  tbody tr:nth-child(even) {
    background-color: rgba(235, 103, 103, 0.349);
  }

  tbody tr:nth-child(odd) {
    background-color: rgba(252, 248, 6, 0.336);
  }
}
@media only screen and (min-width: 992px) {
  table,
  .segment__heading--right {
    max-width: 992px;
  }

  th,
  h2 {
    color: black;
  }

  .profile-table {
    background-color: rgba(248, 168, 168, 0.178);
  }

  tbody tr:nth-child(even) {
    background-color: rgba(219, 230, 170, 0.514);
  }

  tbody tr:nth-child(odd) {
    background-color: rgba(247, 166, 166, 0.733);
  }
}

@media (min-width: 1200px) {
  table,
  .segment__heading--right {
    max-width: 1200px;
  }

  th,
  h2 {
    color: black;
  }

  .profile-table {
    background-color: rgba(232, 145, 250, 0.212);
  }

  tbody tr:nth-child(even) {
    background-color: rgba(146, 230, 211, 0.452);
  }

  tbody tr:nth-child(odd) {
    background-color: rgba(160, 175, 243, 0.623);
  }
}

@media screen and (min-width: 1600px) {
  th,
  h2 {
    color: black;
  }

  .profile-table {
    background-color: rgba(152, 238, 144, 0.281);
  }
  tbody tr:nth-child(even) {
    background-color: rgba(173, 216, 230, 0.527);
  }
  tbody tr:nth-child(odd) {
    background-color: rgba(21, 226, 31, 0.555);
  }
}
